/*====================Флексбокс==============================*/
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
/*====================Обнуление стилей====================*/

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily:'Patrick Hand';
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:1140px; 
$md1:$mw+12px;
$md2:750px;
$md3:767.98px;
$md4:479.98px;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #fff; background: #000; z-index: -2;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;

/*=========================================================*/

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw;margin: 0 auto;width: 100%;
	//@media (max-width:$md1){max-width: 970px;}
	@media (max-width:$md1){max-width: 750px;}
	@media (max-width:$md2){max-width: none;padding:0 10px;}
}

.container{
	@include flexbox();
	height: 85vh;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

table{
	border-collapse:collapse;
}

td{
	width: 150px;
	height: 150px;
	color: #fff;
	font-size: 96px;
	border: 10px solid #fff;
}
h1{
	padding-bottom: 80px;
	font-size: 72px;
}

.btn{
	padding: 15px 30px;
	font-size: 45px;
	color: #000;
	background-color: #fff;
}


.square1,.square2,.square3{
	border-top: 0;
}
.square3,.square6,.square9{
	border-right: 0;
}
.square7,.square8,.square9{
	border-bottom: 0;
}
.square1,.square4,.square7{
	border-left: 0;
}

.square__btn{
	@include flexbox();
	justify-content: center;
}
.playagain{
	cursor: pointer;
	display: none;
}

.popup {
	@include flexbox();
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.popup__body {
}
.popup__tittle {
	h1{
		padding: 0;
	}
	margin-bottom: 40px
}
.popup__info {
	font-size: 48px;
	margin-bottom: 20px;
}
.popup__input {
	padding: 15px 30px;
	font-size: 25px;
}

.popup__btn{
	width: 115px;
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0.6);
}
.input{
	@include flexbox();
	align-items: center;
}
.poput__start{
	display: none;
}


@media (max-width:$md4) {
	h1{
		font-size: 58px;
	}
	td{
		width: 100px;
		height: 100px;
		font-size: 64px;
	}
	.popup__info {
		font-size: 36px;
	}
	.popup__input {
		padding: 10px 20px;
		font-size: 18px;
	}
	.popup__btn{
		padding: 10px 20px;
		font-size: 18px;
	}
}
